
<table>
    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Symbol</th>
        <th></th>
    </tr>
    @for (element of periodicElements; track $index) {
        <tr>
            <td>{{element.position}}</td>
            <td>{{element.name}}</td>
            <td>{{element.weight}}</td>
            <td>{{element.symbol}}</td>
            <td><button (click)="editElement(element)">Edit</button></td>
        </tr>
        
    }
</table>

@if (elementToEdit) {
    <app-edit-form [originalElement]="elementToEdit"></app-edit-form>
}

